/* footer style */
footer.site-footer,.site-footer{
	width : 100%;
	margin :0;
	padding : 15px;
	text-align : left;
	background-color: darken($brown,20%);
	color : $cream;
	font-size : 90%;
	.site-designer{
		float : right;
		font-size : 90%;
	}
	a{
		color : $green3;
		&:hover{
			color : $green2;
		}
	}
	
}
.products-area{
	border-top : 3px solid $green3;
	background: image_url('pistachio-footer.jpg') bottom left repeat , $grey3;
	padding-top : 25px;
	.products-widget-col{
		@include span-columns(12,12);
		@include at-breakpoint($medium){
			@include span-columns(3,12);
			&:nth-of-type(4n){
				@include span-columns(3 omega,12);

			}
		}
		.widget{
			width : 100%;
			background-color: $glassyCream2;
			color : $black1;
		}
	}
	
}
.contact-area{
	padding-top : 25px;
	background-color: $cream;
	.widget.footer-second{
		
		@include span-columns(12,12);
		@include at-breakpoint($medium){
			@include span-columns(4,12);
			&:nth-of-type(3n){
				@include span-columns(4 omega,12);

			}
		}
	}
	.widget{
		width : 100%;
		background-color: $glassyWhite;
		color : $black1;
	}
}

.partners{
	text-align : center;
	display : none;
	.partner{
		text-align : center;
		margin-top : 30px;
		@include span-columns(12,12);
		@include at-breakpoint($medium){
			@include span-columns(2,12);
		}
		img{
			max-width : 100%;
		}
		&.vira-logo{
			margin-top : 0px;
			@include span-columns(12,12);
			@include at-breakpoint($medium){
				@include span-columns(4,12);
			}
		}
		&.last-partner{
			@include span-columns(12,12);
			@include at-breakpoint($medium){
				@include span-columns(2 omega,12);
			}
		}
	}
}
